@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s linear;
}

:root {
  --pinkCol: #fa58b6;
  --blueCol: #1a1a40;
  --blueMidCol: #270082;
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
}

html {
  scroll-padding-top: 0.8rem;
  scroll-behavior: smooth;
  position: relative;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
  background-color: var(--blueMidCol);
  color: #fff;
  position: relative;
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  z-index: 3;
}

section {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  overflow-x: hidden;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
section .item {
  position: relative;
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
}
section .item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}
section .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section .item .slide-text {
  position: absolute;
  z-index: 1;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -45%);
  width: 70%;
  text-align: center;
  color: #fff;
}
section .item .slide-text h1 {
  font-size: 7vw;
  font-weight: 700;
}
section .item .slide-text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 10px;
}

.card-wide {
  width: 100%;
  height: 100%;
}

.card-wide:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.card-wide:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 150px;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(transparent, var(--blueMidCol));
}

.card-wide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 40%;
}

.card-content {
  position: absolute;
  display: flex;
  z-index: 1;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -45%);
  width: 70%;
  color: #fff;
}

.card-content img {
  width: 200px;
  border-radius: 20px;
  opacity: 1;
  mask-image: none;
}

.card-content .caption-text {
  margin-left: 20px;
  width: 70%;
}

.card-content .caption-text h1 {
  font-size: 4rem;
}

.card-content .caption-text p {
  line-height: 1.8;
}

.card-content .caption-text a {
  color: var(--pinkCol);
  cursor: pointer;
}

.card-content .caption-text .genre {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-content .caption-text .genre span {
  border: 1px solid white;
  border-radius: 20px;
  padding: 0.5rem 0.8rem;
  font-size: 0.7rem;
  margin-right: 0.5rem;
}

.list-cast {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* avatar */
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.ellipses {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.row-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-header h3 {
  font-size: 2rem;
  color: #fff;
}

.row-header button {
  padding: 20px 35px;
  background: transparent;
  color: #fff;
  border: 3px solid #ddd;
  font-size: 20px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 30px;
  transition: 0.4s all ease;
}

/* card */
.list {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  margin-top: 30px;
  width: 19%;
  cursor: pointer;
  border-radius: 20px;
}

.card h5 {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card p {
  font-weight: 300;
}

.card img {
  width: 100%;
  border-radius: 20px;
}

.card img:hover {
  box-shadow: 0 14px 28px rgba(208, 31, 214, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}

.card:hover > h5.title {
  color: var(--pinkCol);
}
/* card */

@media screen and (max-width: 1000px) {
  .container {
    max-width: 91%;
  }
  .row-header {
    margin-top: 2rem;
  }
  .row-header h3 {
    font-size: 1.5rem;
  }

  .row-header button {
    padding: 10px 25px;
    font-size: 16px;
  }

  .row {
    justify-content: space-evenly;
  }

  .card {
    width: 31%;
    border-radius: 8px;
  }

  .card img {
    border-radius: 8px;
  }

  section .item .slide-text p {
    display: none;
  }
  section .item .slide-text button {
    padding: 10px 25px;
    font-size: 16px;
  }

  .card-wide {
    height: 50vh;
  }

  .card-content {
    justify-content: center;
    align-items: center;
  }
  .card-content {
    text-align: center;
    flex-direction: column;
  }

  .card-content > img {
    display: none;
  }
  .card-content .caption-text {
    margin-left: 0;
  }

  .card-content .caption-text h1 {
    font-size: 1.5rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }
  .card-content .caption-text p {
    font-size: 0.8rem;
    line-height: 1.4;
  }
  .card-content .caption-text .genre span {
    border-radius: 20px;
    padding: 0.3rem 0.6rem;
    font-size: 0.4rem;
    margin-right: 0.3rem;
  }

  .list-cast {
    flex-direction: column;
  }

  .card-avatar {
    display: flex;
    justify-items: center;
  }

  .card-avatar-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .card-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--pinkCol);
}

.bg-nav-color {
  background-color: var(--blueCol);
}
